body {
    background: #333333;
    margin: 0;
}


.tiles {
    margin: 10vh auto auto;
    padding-bottom: 20px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {

    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
   
}

.reset {
    display: flex;
    height: 200px;

}

#resetButton {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: auto;
    background: #444444;
    color: aliceblue;
}

#resetButton:hover{background-image:     linear-gradient(
        to right,
        #E7484F,
        #E7484F 16.65%,
        #F68B1D 16.65%,
        #F68B1D 33.3%,
        #FCED00 33.3%,
        #FCED00 49.95%,
        #009E4F 49.95%,
        #009E4F 66.6%,
        #00AAC3 66.6%,
        #00AAC3 83.25%,
        #732982 83.25%,
        #732982 100%,
        #E7484F 100%
);
    animation:slidebg 3s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

@media screen and (max-width: 768px) {
    .tile {
        height: 65px;
        width: 65px;
    }
    .tiles {
        grid-template-columns: repeat(4, 75px);
        gap: 8px;
        width: max-content;

        padding-top: 20px;
        padding-bottom: 20px;
    }


}

