body {
    background: #333333;
    margin: 0;
}

.tiles {
    margin: auto;
    margin-top: 30vh;
   
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 16px;
}

.tile {
    height: 100px;
    background: #111111;
    border: 5px solid #444444;
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
   
}